TMS/WebContent/wsdl/CompetencyWebservice.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://webservice_layer" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://webservice_layer" xmlns:intf="http://webservice_layer" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://webservice_layer" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="createCompetency">
    <complexType>
     <sequence>
      <element name="competency" type="impl:Competency"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="Competency">
    <sequence>
     <element name="competency" nillable="true" type="xsd:string"/>
     <element name="id" type="xsd:int"/>
    </sequence>
   </complexType>
   <element name="createCompetencyResponse">
    <complexType>
     <sequence>
      <element name="createCompetencyReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="findCompetency">
    <complexType>
     <sequence>
      <element name="Id" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="findCompetencyResponse">
    <complexType>
     <sequence>
      <element name="findCompetencyReturn" type="impl:Competency"/>
     </sequence>
    </complexType>
   </element>
   <element name="deleteCompetency">
    <complexType>
     <sequence>
      <element name="competency" type="impl:Competency"/>
     </sequence>
    </complexType>
   </element>
   <element name="deleteCompetencyResponse">
    <complexType>
     <sequence>
      <element name="deleteCompetencyReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="updateCompetency">
    <complexType>
     <sequence>
      <element name="competency" type="impl:Competency"/>
     </sequence>
    </complexType>
   </element>
   <element name="updateCompetencyResponse">
    <complexType>
     <sequence>
      <element name="updateCompetencyReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getAllCompetencies">
    <complexType/>
   </element>
   <element name="getAllCompetenciesResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getAllCompetenciesReturn" type="impl:Competency"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="createCompetencyResponse">

      <wsdl:part element="impl:createCompetencyResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="updateCompetencyRequest">

      <wsdl:part element="impl:updateCompetency" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="createCompetencyRequest">

      <wsdl:part element="impl:createCompetency" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="findCompetencyRequest">

      <wsdl:part element="impl:findCompetency" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deleteCompetencyRequest">

      <wsdl:part element="impl:deleteCompetency" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAllCompetenciesRequest">

      <wsdl:part element="impl:getAllCompetencies" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="findCompetencyResponse">

      <wsdl:part element="impl:findCompetencyResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deleteCompetencyResponse">

      <wsdl:part element="impl:deleteCompetencyResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAllCompetenciesResponse">

      <wsdl:part element="impl:getAllCompetenciesResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="updateCompetencyResponse">

      <wsdl:part element="impl:updateCompetencyResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="CompetencyWebservice">

      <wsdl:operation name="createCompetency">

         <wsdl:input message="impl:createCompetencyRequest" name="createCompetencyRequest">

       </wsdl:input>

         <wsdl:output message="impl:createCompetencyResponse" name="createCompetencyResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="findCompetency">

         <wsdl:input message="impl:findCompetencyRequest" name="findCompetencyRequest">

       </wsdl:input>

         <wsdl:output message="impl:findCompetencyResponse" name="findCompetencyResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="deleteCompetency">

         <wsdl:input message="impl:deleteCompetencyRequest" name="deleteCompetencyRequest">

       </wsdl:input>

         <wsdl:output message="impl:deleteCompetencyResponse" name="deleteCompetencyResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="updateCompetency">

         <wsdl:input message="impl:updateCompetencyRequest" name="updateCompetencyRequest">

       </wsdl:input>

         <wsdl:output message="impl:updateCompetencyResponse" name="updateCompetencyResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAllCompetencies">

         <wsdl:input message="impl:getAllCompetenciesRequest" name="getAllCompetenciesRequest">

       </wsdl:input>

         <wsdl:output message="impl:getAllCompetenciesResponse" name="getAllCompetenciesResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="CompetencyWebserviceSoapBinding" type="impl:CompetencyWebservice">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="createCompetency">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="createCompetencyRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="createCompetencyResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="findCompetency">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="findCompetencyRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="findCompetencyResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="deleteCompetency">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="deleteCompetencyRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="deleteCompetencyResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="updateCompetency">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="updateCompetencyRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="updateCompetencyResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAllCompetencies">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAllCompetenciesRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getAllCompetenciesResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="CompetencyWebserviceService">

      <wsdl:port binding="impl:CompetencyWebserviceSoapBinding" name="CompetencyWebservice">

         <wsdlsoap:address location="http://localhost:8080/TMS/services/CompetencyWebservice"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
