TMS/WebContent/wsdl/EmployeeWebservice.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://webservice_layer" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://webservice_layer" xmlns:intf="http://webservice_layer" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://webservice_layer" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="findEmployee">
    <complexType>
     <sequence>
      <element name="Id" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="findEmployeeResponse">
    <complexType>
     <sequence>
      <element name="findEmployeeReturn" type="impl:Employee"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="Employee">
    <sequence>
     <element name="address" nillable="true" type="xsd:string"/>
     <element name="birthdate" nillable="true" type="xsd:string"/>
     <element name="email" nillable="true" type="xsd:string"/>
     <element name="firstName" nillable="true" type="xsd:string"/>
     <element name="id" type="xsd:int"/>
     <element name="lastName" nillable="true" type="xsd:string"/>
     <element name="telefone" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <element name="deleteEmployee">
    <complexType>
     <sequence>
      <element name="employee" type="impl:Employee"/>
     </sequence>
    </complexType>
   </element>
   <element name="deleteEmployeeResponse">
    <complexType>
     <sequence>
      <element name="deleteEmployeeReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="updateEmployee">
    <complexType>
     <sequence>
      <element name="employee" type="impl:Employee"/>
     </sequence>
    </complexType>
   </element>
   <element name="updateEmployeeResponse">
    <complexType>
     <sequence>
      <element name="updateEmployeeReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="createEmployee">
    <complexType>
     <sequence>
      <element name="employee" type="impl:Employee"/>
     </sequence>
    </complexType>
   </element>
   <element name="createEmployeeResponse">
    <complexType>
     <sequence>
      <element name="createEmployeeReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getAllEmployees">
    <complexType/>
   </element>
   <element name="getAllEmployeesResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getAllEmployeesReturn" type="impl:Employee"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="createEmployeeResponse">

      <wsdl:part element="impl:createEmployeeResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="findEmployeeRequest">

      <wsdl:part element="impl:findEmployee" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="updateEmployeeRequest">

      <wsdl:part element="impl:updateEmployee" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="updateEmployeeResponse">

      <wsdl:part element="impl:updateEmployeeResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAllEmployeesRequest">

      <wsdl:part element="impl:getAllEmployees" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deleteEmployeeResponse">

      <wsdl:part element="impl:deleteEmployeeResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAllEmployeesResponse">

      <wsdl:part element="impl:getAllEmployeesResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="createEmployeeRequest">

      <wsdl:part element="impl:createEmployee" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="findEmployeeResponse">

      <wsdl:part element="impl:findEmployeeResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deleteEmployeeRequest">

      <wsdl:part element="impl:deleteEmployee" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="EmployeeWebservice">

      <wsdl:operation name="findEmployee">

         <wsdl:input message="impl:findEmployeeRequest" name="findEmployeeRequest">

       </wsdl:input>

         <wsdl:output message="impl:findEmployeeResponse" name="findEmployeeResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="deleteEmployee">

         <wsdl:input message="impl:deleteEmployeeRequest" name="deleteEmployeeRequest">

       </wsdl:input>

         <wsdl:output message="impl:deleteEmployeeResponse" name="deleteEmployeeResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="updateEmployee">

         <wsdl:input message="impl:updateEmployeeRequest" name="updateEmployeeRequest">

       </wsdl:input>

         <wsdl:output message="impl:updateEmployeeResponse" name="updateEmployeeResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="createEmployee">

         <wsdl:input message="impl:createEmployeeRequest" name="createEmployeeRequest">

       </wsdl:input>

         <wsdl:output message="impl:createEmployeeResponse" name="createEmployeeResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAllEmployees">

         <wsdl:input message="impl:getAllEmployeesRequest" name="getAllEmployeesRequest">

       </wsdl:input>

         <wsdl:output message="impl:getAllEmployeesResponse" name="getAllEmployeesResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="EmployeeWebserviceSoapBinding" type="impl:EmployeeWebservice">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="findEmployee">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="findEmployeeRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="findEmployeeResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="deleteEmployee">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="deleteEmployeeRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="deleteEmployeeResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="updateEmployee">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="updateEmployeeRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="updateEmployeeResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="createEmployee">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="createEmployeeRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="createEmployeeResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAllEmployees">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAllEmployeesRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getAllEmployeesResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="EmployeeWebserviceService">

      <wsdl:port binding="impl:EmployeeWebserviceSoapBinding" name="EmployeeWebservice">

         <wsdlsoap:address location="http://localhost:8080/TMS/services/EmployeeWebservice"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
