TMS/WebContent/wsdl/EmployeeCompetencyWebservice.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://webservice_layer" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://webservice_layer" xmlns:intf="http://webservice_layer" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://webservice_layer" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="findEmployeeCompetency">
    <complexType>
     <sequence>
      <element name="Id" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="findEmployeeCompetencyResponse">
    <complexType>
     <sequence>
      <element name="findEmployeeCompetencyReturn" type="impl:EmployeeCompetency"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="EmployeeCompetency">
    <sequence>
     <element name="competencyId" type="xsd:int"/>
     <element name="employeeId" type="xsd:int"/>
     <element name="id" type="xsd:int"/>
    </sequence>
   </complexType>
   <element name="createEmployeeCompetency">
    <complexType>
     <sequence>
      <element name="ec" type="impl:EmployeeCompetency"/>
     </sequence>
    </complexType>
   </element>
   <element name="createEmployeeCompetencyResponse">
    <complexType>
     <sequence>
      <element name="createEmployeeCompetencyReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="deleteEmployeeCompetency">
    <complexType>
     <sequence>
      <element name="ec" type="impl:EmployeeCompetency"/>
     </sequence>
    </complexType>
   </element>
   <element name="deleteEmployeeCompetencyResponse">
    <complexType>
     <sequence>
      <element name="deleteEmployeeCompetencyReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getAllEmployeeCompetencies">
    <complexType/>
   </element>
   <element name="getAllEmployeeCompetenciesResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getAllEmployeeCompetenciesReturn" type="impl:EmployeeCompetency"/>
     </sequence>
    </complexType>
   </element>
   <element name="findAllEmployeeCompetencies">
    <complexType>
     <sequence>
      <element name="Id" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="findAllEmployeeCompetenciesResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="findAllEmployeeCompetenciesReturn" type="impl:EmployeeCompetency"/>
     </sequence>
    </complexType>
   </element>
   <element name="updateEmployeeCompetency">
    <complexType>
     <sequence>
      <element name="ec" type="impl:EmployeeCompetency"/>
     </sequence>
    </complexType>
   </element>
   <element name="updateEmployeeCompetencyResponse">
    <complexType>
     <sequence>
      <element name="updateEmployeeCompetencyReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getAllEmployeeCompetenciesRequest">

      <wsdl:part element="impl:getAllEmployeeCompetencies" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="findAllEmployeeCompetenciesResponse">

      <wsdl:part element="impl:findAllEmployeeCompetenciesResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAllEmployeeCompetenciesResponse">

      <wsdl:part element="impl:getAllEmployeeCompetenciesResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deleteEmployeeCompetencyRequest">

      <wsdl:part element="impl:deleteEmployeeCompetency" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="findAllEmployeeCompetenciesRequest">

      <wsdl:part element="impl:findAllEmployeeCompetencies" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="updateEmployeeCompetencyRequest">

      <wsdl:part element="impl:updateEmployeeCompetency" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deleteEmployeeCompetencyResponse">

      <wsdl:part element="impl:deleteEmployeeCompetencyResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="updateEmployeeCompetencyResponse">

      <wsdl:part element="impl:updateEmployeeCompetencyResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="findEmployeeCompetencyRequest">

      <wsdl:part element="impl:findEmployeeCompetency" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="createEmployeeCompetencyResponse">

      <wsdl:part element="impl:createEmployeeCompetencyResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="createEmployeeCompetencyRequest">

      <wsdl:part element="impl:createEmployeeCompetency" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="findEmployeeCompetencyResponse">

      <wsdl:part element="impl:findEmployeeCompetencyResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="EmployeeCompetencyWebservice">

      <wsdl:operation name="findEmployeeCompetency">

         <wsdl:input message="impl:findEmployeeCompetencyRequest" name="findEmployeeCompetencyRequest">

       </wsdl:input>

         <wsdl:output message="impl:findEmployeeCompetencyResponse" name="findEmployeeCompetencyResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="createEmployeeCompetency">

         <wsdl:input message="impl:createEmployeeCompetencyRequest" name="createEmployeeCompetencyRequest">

       </wsdl:input>

         <wsdl:output message="impl:createEmployeeCompetencyResponse" name="createEmployeeCompetencyResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="deleteEmployeeCompetency">

         <wsdl:input message="impl:deleteEmployeeCompetencyRequest" name="deleteEmployeeCompetencyRequest">

       </wsdl:input>

         <wsdl:output message="impl:deleteEmployeeCompetencyResponse" name="deleteEmployeeCompetencyResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAllEmployeeCompetencies">

         <wsdl:input message="impl:getAllEmployeeCompetenciesRequest" name="getAllEmployeeCompetenciesRequest">

       </wsdl:input>

         <wsdl:output message="impl:getAllEmployeeCompetenciesResponse" name="getAllEmployeeCompetenciesResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="findAllEmployeeCompetencies">

         <wsdl:input message="impl:findAllEmployeeCompetenciesRequest" name="findAllEmployeeCompetenciesRequest">

       </wsdl:input>

         <wsdl:output message="impl:findAllEmployeeCompetenciesResponse" name="findAllEmployeeCompetenciesResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="updateEmployeeCompetency">

         <wsdl:input message="impl:updateEmployeeCompetencyRequest" name="updateEmployeeCompetencyRequest">

       </wsdl:input>

         <wsdl:output message="impl:updateEmployeeCompetencyResponse" name="updateEmployeeCompetencyResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="EmployeeCompetencyWebserviceSoapBinding" type="impl:EmployeeCompetencyWebservice">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="findEmployeeCompetency">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="findEmployeeCompetencyRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="findEmployeeCompetencyResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="createEmployeeCompetency">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="createEmployeeCompetencyRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="createEmployeeCompetencyResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="deleteEmployeeCompetency">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="deleteEmployeeCompetencyRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="deleteEmployeeCompetencyResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAllEmployeeCompetencies">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAllEmployeeCompetenciesRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getAllEmployeeCompetenciesResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="findAllEmployeeCompetencies">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="findAllEmployeeCompetenciesRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="findAllEmployeeCompetenciesResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="updateEmployeeCompetency">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="updateEmployeeCompetencyRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="updateEmployeeCompetencyResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="EmployeeCompetencyWebserviceService">

      <wsdl:port binding="impl:EmployeeCompetencyWebserviceSoapBinding" name="EmployeeCompetencyWebservice">

         <wsdlsoap:address location="http://localhost:12131/TMS/services/EmployeeCompetencyWebservice"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
